<!-- -->
<launch>
    <arg name="PointCloud_Files_Folder" value="$(find adeye)/../../../../../AD-EYE/Experiments/Test_World_1/Pointcloud_Files/"/>
    <arg name="VectorMap_Files_Folder" value="$(find adeye)/../../../../../AD-EYE/Experiments/Test_World_1/Vector_Map_Files/"/>
    <!-- world_to_map -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 10"/>

    <!-- map_to_mobility -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_mobility" args="0 0 0 0 0 0 /map /mobility 10"/>

    <!-- Point Cloud -->
    <node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate
    $(arg PointCloud_Files_Folder)pcd112418961.pcd
    $(arg PointCloud_Files_Folder)pcd11241569.pcd
    $(arg PointCloud_Files_Folder)pcd11249343.pcd
    $(arg PointCloud_Files_Folder)pcd112355240.pcd
    $(arg PointCloud_Files_Folder)pcd112336836.pcd
    $(arg PointCloud_Files_Folder)pcd112358427.pcd
    $(arg PointCloud_Files_Folder)pcd112456383.pcd
    $(arg PointCloud_Files_Folder)pcd11243290.pcd
    $(arg PointCloud_Files_Folder)pcd112349175.pcd
    $(arg PointCloud_Files_Folder)pcd11231219.pcd
    $(arg PointCloud_Files_Folder)pcd112415910.pcd
    $(arg PointCloud_Files_Folder)pcd112431477.pcd
    $(arg PointCloud_Files_Folder)pcd112342905.pcd
    $(arg PointCloud_Files_Folder)pcd112420481.pcd
    $(arg PointCloud_Files_Folder)pcd112436267.pcd
    $(arg PointCloud_Files_Folder)pcd112319896.pcd
    $(arg PointCloud_Files_Folder)pcd112329089.pcd
    $(arg PointCloud_Files_Folder)pcd112312278.pcd
    $(arg PointCloud_Files_Folder)pcd112518558.pcd
    $(arg PointCloud_Files_Folder)pcd112316839.pcd
    $(arg PointCloud_Files_Folder)pcd112315325.pcd
    $(arg PointCloud_Files_Folder)pcd112511122.pcd
    $(arg PointCloud_Files_Folder)pcd112353726.pcd
    $(arg PointCloud_Files_Folder)pcd112388.pcd
    $(arg PointCloud_Files_Folder)pcd112445642.pcd
    $(arg PointCloud_Files_Folder)pcd112442460.pcd
    $(arg PointCloud_Files_Folder)pcd112434710.pcd
    $(arg PointCloud_Files_Folder)pcd112324491.pcd
    $(arg PointCloud_Files_Folder)pcd112321463.pcd
    $(arg PointCloud_Files_Folder)pcd112335336.pcd
    $(arg PointCloud_Files_Folder)pcd11238946.pcd
    $(arg PointCloud_Files_Folder)pcd11232684.pcd
    $(arg PointCloud_Files_Folder)pcd112454897.pcd
    $(arg PointCloud_Files_Folder)pcd112514142.pcd
    $(arg PointCloud_Files_Folder)pcd112450361.pcd
    $(arg PointCloud_Files_Folder)pcd112440894.pcd
    $(arg PointCloud_Files_Folder)pcd11246334.pcd
    $(arg PointCloud_Files_Folder)pcd112417430.pcd
    $(arg PointCloud_Files_Folder)pcd11255095.pcd
    $(arg PointCloud_Files_Folder)pcd112451899.pcd
    $(arg PointCloud_Files_Folder)pcd11259610.pcd
    $(arg PointCloud_Files_Folder)pcd112356786.pcd
    $(arg PointCloud_Files_Folder)pcd112332217.pcd
    $(arg PointCloud_Files_Folder)pcd112457854.pcd
    $(arg PointCloud_Files_Folder)pcd112423692.pcd
    $(arg PointCloud_Files_Folder)pcd112313778.pcd
    $(arg PointCloud_Files_Folder)pcd112414370.pcd
    $(arg PointCloud_Files_Folder)pcd112411291.pcd
    $(arg PointCloud_Files_Folder)pcd112412814.pcd
    $(arg PointCloud_Files_Folder)pcd112443980.pcd
    $(arg PointCloud_Files_Folder)pcd112359983.pcd
    $(arg PointCloud_Files_Folder)pcd112322934.pcd
    $(arg PointCloud_Files_Folder)pcd11234219.pcd
    $(arg PointCloud_Files_Folder)pcd11244763.pcd
    $(arg PointCloud_Files_Folder)pcd112326036.pcd
    $(arg PointCloud_Files_Folder)pcd112453378.pcd
    $(arg PointCloud_Files_Folder)pcd112448783.pcd
    $(arg PointCloud_Files_Folder)pcd112512630.pcd
    $(arg PointCloud_Files_Folder)pcd112429919.pcd
    $(arg PointCloud_Files_Folder)pcd112425274.pcd
    $(arg PointCloud_Files_Folder)pcd112459383.pcd
    $(arg PointCloud_Files_Folder)pcd112517114.pcd
    $(arg PointCloud_Files_Folder)pcd112437799.pcd
    $(arg PointCloud_Files_Folder)pcd112426792.pcd
    $(arg PointCloud_Files_Folder)pcd112447165.pcd
    $(arg PointCloud_Files_Folder)pcd112347645.pcd
    $(arg PointCloud_Files_Folder)pcd11237442.pcd
    $(arg PointCloud_Files_Folder)pcd112350703.pcd
    $(arg PointCloud_Files_Folder)pcd112439381.pcd
    $(arg PointCloud_Files_Folder)pcd1124783.pcd
    $(arg PointCloud_Files_Folder)pcd112346042.pcd
    $(arg PointCloud_Files_Folder)pcd11258098.pcd
    $(arg PointCloud_Files_Folder)pcd112318412.pcd
    $(arg PointCloud_Files_Folder)pcd112344479.pcd
    $(arg PointCloud_Files_Folder)pcd112422033.pcd
    $(arg PointCloud_Files_Folder)pcd112341393.pcd
    $(arg PointCloud_Files_Folder)pcd112327579.pcd
    $(arg PointCloud_Files_Folder)pcd112433111.pcd
    $(arg PointCloud_Files_Folder)pcd112428368.pcd
    $(arg PointCloud_Files_Folder)pcd112352243.pcd
    $(arg PointCloud_Files_Folder)pcd112333759.pcd
    $(arg PointCloud_Files_Folder)pcd11252104.pcd
    $(arg PointCloud_Files_Folder)pcd11253575.pcd
    $(arg PointCloud_Files_Folder)pcd11256612.pcd
    $(arg PointCloud_Files_Folder)pcd11247803.pcd
    $(arg PointCloud_Files_Folder)pcd11235869.pcd
    $(arg PointCloud_Files_Folder)pcd112310807.pcd
    $(arg PointCloud_Files_Folder)pcd112338313.pcd
    $(arg PointCloud_Files_Folder)pcd112330612.pcd
    $(arg PointCloud_Files_Folder)pcd112339884.pcd
    $(arg PointCloud_Files_Folder)pcd112515625.pcd
    
"/>

    -->

    <!-- Vector Map -->
    <node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="
    $(arg VectorMap_Files_Folder)dtlane.csv
    $(arg VectorMap_Files_Folder)lane.csv
    $(arg VectorMap_Files_Folder)line.csv
    $(arg VectorMap_Files_Folder)node.csv
    $(arg VectorMap_Files_Folder)point.csv
    $(arg VectorMap_Files_Folder)roadedge.csv
    $(arg VectorMap_Files_Folder)whiteline.csv
    $(arg VectorMap_Files_Folder)vector.csv
    $(arg VectorMap_Files_Folder)signaldata.csv
    $(arg VectorMap_Files_Folder)stopline.csv
"/>

</launch>
