<!-- -->
<launch>

    <arg name="camera" default="camera_2"/>

    <include file="$(find adeye)/launch/vision_ssd_detect.launch">
        <arg name="camera" value="$(arg camera)"/>
        <arg name="use_gpu" value="true"/>
        <arg name="gpu_device_id" value="0"/>
        <arg name="score_threshold" value="0.5"/>
        <arg name="network_definition_file"
             value="$(env HOME)/AD-EYE_Core/AD-EYE/Data/ssdcaffe_models/AD-EYE_SSD_Model/SSD_512x512/deploy.prototxt"/>
        <arg name="pretrained_model_file"
             value="$(env HOME)/AD-EYE_Core/AD-EYE/Data/ssdcaffe_models/AD-EYE_SSD_Model/SSD_512x512/VGG_Dataset_SSD_512x512_iter_60000.caffemodel"/>
        <arg name="image_src" value="image_raw"/>
        <arg name="image_out" value="image_rects"/>
        <arg name="object_src" value="image_detector/objects"/>
    </include>

</launch>