<!-- -->
<launch>

    <!-- RealWorld / Simulation -->
    <arg name="camera_source" default="RealWorld"/>
	
    <param name="sensing/camera_source" value="$(arg camera_source)" />

    <node
            type="manager.py"
            pkg="adeye"
            name="manager"
            respawn="false"
            output="screen"
    />

    <group if="$(eval arg('camera_source') == 'RealWorld')">
        <node pkg="adeye" name="zed_driver" type="zed_driver.py" output="screen" />
    </group>

</launch>
