<!-- -->
<launch>
    <arg name="test_automation" default="false"/>
    <rosparam>
        use_sim_time: true
    </rosparam>
    <group if="$(arg test_automation)">
        <rosparam>
            test_automation: true
        </rosparam>
    </group>
    <node
            type="manager.py"
            pkg="adeye"
            name="manager"
            respawn="false"
            output="screen"
    />
    <node pkg="adeye"
          type="ExperimentA.py"
          name="ExperimentA"
          output="screen"/>
</launch>
