<!-- -->
<launch>

    <arg name="lidar_source" default="Simulation"/>
    <arg name="gnss_source" default="Simulation"/>
    <arg name="camera_source" default="Simulation"/>

    <param name="sensing/lidar_source" value="$(arg lidar_source)" />
    <param name="sensing/gnss_source" value="$(arg gnss_source)" />
    <param name="sensing/camera_source" value="$(arg gnss_source)" />


    <arg name="test_automation" default="false"/>
    <rosparam>
        use_sim_time: true
    </rosparam>
    <group if="$(arg test_automation)">
        <rosparam>
            test_automation: true
        </rosparam>
    </group>
    <node
            type="manager.py"
            pkg="adeye"
            name="manager"
            respawn="false"
            output="screen"
    />
</launch>
