<!-- -->
<launch>
    <arg name="lidar" default="ouster"/>

    <node
            type="manager.py"
            pkg="adeye"
            name="manager"
            respawn="false"
            output="screen"
    />

    <group if="$(eval arg('lidar') == 'velodyne')">
        <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    </group>

    <group if="$(eval arg('lidar') == 'ouster')">
        <include file="$(find ouster_ros)/launch/driver.launch">
            <arg name="sensor_hostname" value="os-122226000469.local"/>
            <arg name="timestamp_mode" value="TIME_FROM_ROS_TIME"/>
            <arg name="point_cloud_frame" value="os_sensor"/>
            <arg name="viz" value="false"/>
        </include>
    </group>


    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="navsat_driver" respawn="true">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="9600"/>
    </node>


    <group if="false">
        <node pkg="adeye" name="zed_driver" type="zed_driver.py" output="screen" />
    </group>

    <node pkg="topic_tools" type="relay" name="pointclouds_republisher" output="log" args="/ouster/points /points_raw"/>

</launch>
