<!-- -->
<launch>
    <arg name="PointCloud_Files_Folder" value="$(find adeye)/../../../../../AD-EYE/Experiments/KTH_Campus/Pointcloud_Files/"/>
    <arg name="VectorMap_Files_Folder" value="$(find adeye)/../../../../../AD-EYE/Experiments/KTH_Campus/Vector_Map_Files/"/>
    <!-- world_to_map -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 10"/>

    <!-- map_to_mobility -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_mobility" args="0 0 0 0 0 0 /map /mobility 10"/>

    <!-- Point Cloud -->
    <node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate
    $(arg PointCloud_Files_Folder)pcd12441027.pcd
    $(arg PointCloud_Files_Folder)pcd12441644.pcd
    $(arg PointCloud_Files_Folder)pcd12442198.pcd
    $(arg PointCloud_Files_Folder)pcd12442812.pcd
    $(arg PointCloud_Files_Folder)pcd12443395.pcd
    $(arg PointCloud_Files_Folder)pcd12444015.pcd
    $(arg PointCloud_Files_Folder)pcd12444596.pcd
    $(arg PointCloud_Files_Folder)pcd12445189.pcd
    $(arg PointCloud_Files_Folder)pcd12445733.pcd
    $(arg PointCloud_Files_Folder)pcd12446309.pcd
    $(arg PointCloud_Files_Folder)pcd12446868.pcd
    $(arg PointCloud_Files_Folder)pcd12447477.pcd
    $(arg PointCloud_Files_Folder)pcd12448072.pcd
    $(arg PointCloud_Files_Folder)pcd12448691.pcd
    $(arg PointCloud_Files_Folder)pcd12449303.pcd
    $(arg PointCloud_Files_Folder)pcd12449906.pcd
    $(arg PointCloud_Files_Folder)pcd12450466.pcd
    $(arg PointCloud_Files_Folder)pcd12451071.pcd
    $(arg PointCloud_Files_Folder)pcd12451654.pcd
    $(arg PointCloud_Files_Folder)pcd12452232.pcd
    $(arg PointCloud_Files_Folder)pcd12452798.pcd
    $(arg PointCloud_Files_Folder)pcd12453409.pcd
    $(arg PointCloud_Files_Folder)pcd12454025.pcd
    $(arg PointCloud_Files_Folder)pcd12454644.pcd
    $(arg PointCloud_Files_Folder)pcd12455239.pcd
    $(arg PointCloud_Files_Folder)pcd12455813.pcd
    $(arg PointCloud_Files_Folder)pcd12456385.pcd
    $(arg PointCloud_Files_Folder)pcd12456947.pcd
    $(arg PointCloud_Files_Folder)pcd12457533.pcd
    $(arg PointCloud_Files_Folder)pcd12458120.pcd
    $(arg PointCloud_Files_Folder)pcd12458689.pcd
    $(arg PointCloud_Files_Folder)pcd12459274.pcd
    $(arg PointCloud_Files_Folder)pcd12459851.pcd
    $(arg PointCloud_Files_Folder)pcd1251010.pcd
    $(arg PointCloud_Files_Folder)pcd12510228.pcd
    $(arg PointCloud_Files_Folder)pcd12510824.pcd
    $(arg PointCloud_Files_Folder)pcd12511377.pcd
    $(arg PointCloud_Files_Folder)pcd12511964.pcd
    $(arg PointCloud_Files_Folder)pcd12512574.pcd
    $(arg PointCloud_Files_Folder)pcd12513167.pcd
    $(arg PointCloud_Files_Folder)pcd12513744.pcd
    $(arg PointCloud_Files_Folder)pcd12514319.pcd
    $(arg PointCloud_Files_Folder)pcd12514864.pcd
    $(arg PointCloud_Files_Folder)pcd12515417.pcd
    $(arg PointCloud_Files_Folder)pcd1251573.pcd
    $(arg PointCloud_Files_Folder)pcd12515980.pcd
    $(arg PointCloud_Files_Folder)pcd12516542.pcd
    $(arg PointCloud_Files_Folder)pcd12517090.pcd
    $(arg PointCloud_Files_Folder)pcd12517635.pcd
    $(arg PointCloud_Files_Folder)pcd12518190.pcd
    $(arg PointCloud_Files_Folder)pcd12518755.pcd
    $(arg PointCloud_Files_Folder)pcd12519340.pcd
    $(arg PointCloud_Files_Folder)pcd12519930.pcd
    $(arg PointCloud_Files_Folder)pcd12520479.pcd
    $(arg PointCloud_Files_Folder)pcd12521043.pcd
    $(arg PointCloud_Files_Folder)pcd1252146.pcd
    $(arg PointCloud_Files_Folder)pcd12521604.pcd
    $(arg PointCloud_Files_Folder)pcd12522164.pcd
    $(arg PointCloud_Files_Folder)pcd12522731.pcd
    $(arg PointCloud_Files_Folder)pcd12523294.pcd
    $(arg PointCloud_Files_Folder)pcd12523853.pcd
    $(arg PointCloud_Files_Folder)pcd12524422.pcd
    $(arg PointCloud_Files_Folder)pcd12524990.pcd
    $(arg PointCloud_Files_Folder)pcd12525560.pcd
    $(arg PointCloud_Files_Folder)pcd12526086.pcd
    $(arg PointCloud_Files_Folder)pcd12526656.pcd
    $(arg PointCloud_Files_Folder)pcd12527211.pcd
    $(arg PointCloud_Files_Folder)pcd1252723.pcd
    $(arg PointCloud_Files_Folder)pcd12527790.pcd
    $(arg PointCloud_Files_Folder)pcd12528357.pcd
    $(arg PointCloud_Files_Folder)pcd12528932.pcd
    $(arg PointCloud_Files_Folder)pcd12529494.pcd
    $(arg PointCloud_Files_Folder)pcd12530047.pcd
    $(arg PointCloud_Files_Folder)pcd12530613.pcd
    $(arg PointCloud_Files_Folder)pcd12531153.pcd
    $(arg PointCloud_Files_Folder)pcd12531714.pcd
    $(arg PointCloud_Files_Folder)pcd12532270.pcd
    $(arg PointCloud_Files_Folder)pcd12532840.pcd
    $(arg PointCloud_Files_Folder)pcd12533403.pcd
    $(arg PointCloud_Files_Folder)pcd1253351.pcd
    $(arg PointCloud_Files_Folder)pcd12533958.pcd
    $(arg PointCloud_Files_Folder)pcd12534492.pcd
    $(arg PointCloud_Files_Folder)pcd12535074.pcd
    $(arg PointCloud_Files_Folder)pcd12535639.pcd
    $(arg PointCloud_Files_Folder)pcd12536208.pcd
    $(arg PointCloud_Files_Folder)pcd12536776.pcd
    $(arg PointCloud_Files_Folder)pcd12537328.pcd
    $(arg PointCloud_Files_Folder)pcd12537866.pcd
    $(arg PointCloud_Files_Folder)pcd12538410.pcd
    $(arg PointCloud_Files_Folder)pcd12538975.pcd
    $(arg PointCloud_Files_Folder)pcd12539541.pcd
    $(arg PointCloud_Files_Folder)pcd1253973.pcd
    $(arg PointCloud_Files_Folder)pcd12540095.pcd
    $(arg PointCloud_Files_Folder)pcd12540628.pcd
    $(arg PointCloud_Files_Folder)pcd12541179.pcd
    $(arg PointCloud_Files_Folder)pcd12541751.pcd
    $(arg PointCloud_Files_Folder)pcd12542341.pcd
    $(arg PointCloud_Files_Folder)pcd125426.pcd
    $(arg PointCloud_Files_Folder)pcd12542918.pcd
    $(arg PointCloud_Files_Folder)pcd12543489.pcd
    $(arg PointCloud_Files_Folder)pcd12544037.pcd
    $(arg PointCloud_Files_Folder)pcd12544608.pcd
    $(arg PointCloud_Files_Folder)pcd12545196.pcd
    $(arg PointCloud_Files_Folder)pcd1254531.pcd
    $(arg PointCloud_Files_Folder)pcd12545756.pcd
    $(arg PointCloud_Files_Folder)pcd12546307.pcd
    $(arg PointCloud_Files_Folder)pcd12546867.pcd
    $(arg PointCloud_Files_Folder)pcd12547412.pcd
    $(arg PointCloud_Files_Folder)pcd12547947.pcd
    $(arg PointCloud_Files_Folder)pcd12548466.pcd
    $(arg PointCloud_Files_Folder)pcd12549015.pcd
    $(arg PointCloud_Files_Folder)pcd12549588.pcd
    $(arg PointCloud_Files_Folder)pcd12550150.pcd
    $(arg PointCloud_Files_Folder)pcd12550697.pcd
    $(arg PointCloud_Files_Folder)pcd12551243.pcd
    $(arg PointCloud_Files_Folder)pcd1255134.pcd
    $(arg PointCloud_Files_Folder)pcd12551793.pcd
    $(arg PointCloud_Files_Folder)pcd12552354.pcd
    $(arg PointCloud_Files_Folder)pcd12552826.pcd
    $(arg PointCloud_Files_Folder)pcd12553342.pcd
    $(arg PointCloud_Files_Folder)pcd12553893.pcd
    $(arg PointCloud_Files_Folder)pcd12554425.pcd
    $(arg PointCloud_Files_Folder)pcd12554975.pcd
    $(arg PointCloud_Files_Folder)pcd12555529.pcd
    $(arg PointCloud_Files_Folder)pcd12556068.pcd
    $(arg PointCloud_Files_Folder)pcd12556600.pcd
    $(arg PointCloud_Files_Folder)pcd12557146.pcd
    $(arg PointCloud_Files_Folder)pcd1255715.pcd
    $(arg PointCloud_Files_Folder)pcd12557695.pcd
    $(arg PointCloud_Files_Folder)pcd12558236.pcd
    $(arg PointCloud_Files_Folder)pcd12558755.pcd
    $(arg PointCloud_Files_Folder)pcd12559307.pcd
    $(arg PointCloud_Files_Folder)pcd12559874.pcd
    $(arg PointCloud_Files_Folder)pcd1256268.pcd
    $(arg PointCloud_Files_Folder)pcd1256837.pcd
    $(arg PointCloud_Files_Folder)pcd1257405.pcd
    $(arg PointCloud_Files_Folder)pcd1257948.pcd
    $(arg PointCloud_Files_Folder)pcd1258520.pcd
    $(arg PointCloud_Files_Folder)pcd1259101.pcd
    $(arg PointCloud_Files_Folder)pcd1259669.pcd
    $(arg PointCloud_Files_Folder)pcd1261507.pcd
    $(arg PointCloud_Files_Folder)pcd1262056.pcd
    $(arg PointCloud_Files_Folder)pcd1262588.pcd
    $(arg PointCloud_Files_Folder)pcd1263156.pcd
    $(arg PointCloud_Files_Folder)pcd1263703.pcd
    $(arg PointCloud_Files_Folder)pcd126405.pcd
    $(arg PointCloud_Files_Folder)pcd1264260.pcd
    $(arg PointCloud_Files_Folder)pcd1264783.pcd
    $(arg PointCloud_Files_Folder)pcd1265328.pcd
    $(arg PointCloud_Files_Folder)pcd1265879.pcd
    $(arg PointCloud_Files_Folder)pcd1266452.pcd
    $(arg PointCloud_Files_Folder)pcd1267027.pcd
    $(arg PointCloud_Files_Folder)pcd1267598.pcd
    $(arg PointCloud_Files_Folder)pcd1268169.pcd
    $(arg PointCloud_Files_Folder)pcd1268724.pcd
    $(arg PointCloud_Files_Folder)pcd126967.pcd
"/>

    -->

    <!-- Vector Map -->
    <node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="
    $(arg VectorMap_Files_Folder)dtlane.csv
    $(arg VectorMap_Files_Folder)lane.csv
    $(arg VectorMap_Files_Folder)line.csv
    $(arg VectorMap_Files_Folder)node.csv
    $(arg VectorMap_Files_Folder)point.csv
    $(arg VectorMap_Files_Folder)roadedge.csv
    $(arg VectorMap_Files_Folder)whiteline.csv
    $(arg VectorMap_Files_Folder)vector.csv
    $(arg VectorMap_Files_Folder)signaldata.csv
    $(arg VectorMap_Files_Folder)stopline.csv
"/>

</launch>
