<!-- -->
<launch>
    <arg name="PointCloud_Files_Folder" value="$(find adeye)/../../../../../AD-EYE/Experiments/W01_Base_Map/Pointcloud_Files/"/>
    <arg name="VectorMap_Files_Folder" value="$(find adeye)/../../../../../AD-EYE/Experiments/W01_Base_Map/Vector_Map_Files/"/>
    <!-- world_to_map -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 10"/>

    <!-- map_to_mobility -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_mobility" args="0 0 0 0 0 0 /map /mobility 10"/>

    <!-- Point Cloud -->
    <node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate
    $(arg PointCloud_Files_Folder)pcd10220632.pcd
    $(arg PointCloud_Files_Folder)pcd10346411.pcd
    $(arg PointCloud_Files_Folder)pcd10511137.pcd
    $(arg PointCloud_Files_Folder)pcd1062886.pcd
    $(arg PointCloud_Files_Folder)pcd10225742.pcd
    $(arg PointCloud_Files_Folder)pcd10351202.pcd
    $(arg PointCloud_Files_Folder)pcd10515886.pcd
    $(arg PointCloud_Files_Folder)pcd10631333.pcd
    $(arg PointCloud_Files_Folder)pcd10230505.pcd
    $(arg PointCloud_Files_Folder)pcd10355871.pcd
    $(arg PointCloud_Files_Folder)pcd1051873.pcd
    $(arg PointCloud_Files_Folder)pcd10636070.pcd
    $(arg PointCloud_Files_Folder)pcd10235152.pcd
    $(arg PointCloud_Files_Folder)pcd1038486.pcd
    $(arg PointCloud_Files_Folder)pcd10520637.pcd
    $(arg PointCloud_Files_Folder)pcd10640760.pcd
    $(arg PointCloud_Files_Folder)pcd10240113.pcd
    $(arg PointCloud_Files_Folder)pcd10410156.pcd
    $(arg PointCloud_Files_Folder)pcd10525403.pcd
    $(arg PointCloud_Files_Folder)pcd10645527.pcd
    $(arg PointCloud_Files_Folder)pcd10244843.pcd
    $(arg PointCloud_Files_Folder)pcd10414885.pcd
    $(arg PointCloud_Files_Folder)pcd10530109.pcd
    $(arg PointCloud_Files_Folder)pcd10650247.pcd
    $(arg PointCloud_Files_Folder)pcd10249651.pcd
    $(arg PointCloud_Files_Folder)pcd10419680.pcd
    $(arg PointCloud_Files_Folder)pcd10534938.pcd
    $(arg PointCloud_Files_Folder)pcd10654924.pcd
    $(arg PointCloud_Files_Folder)pcd10254379.pcd
    $(arg PointCloud_Files_Folder)pcd10424289.pcd
    $(arg PointCloud_Files_Folder)pcd10539557.pcd
    $(arg PointCloud_Files_Folder)pcd10659654.pcd
    $(arg PointCloud_Files_Folder)pcd10259129.pcd
    $(arg PointCloud_Files_Folder)pcd10429008.pcd
    $(arg PointCloud_Files_Folder)pcd10544217.pcd
    $(arg PointCloud_Files_Folder)pcd1067603.pcd
    $(arg PointCloud_Files_Folder)pcd10313361.pcd
    $(arg PointCloud_Files_Folder)pcd10433727.pcd
    $(arg PointCloud_Files_Folder)pcd10548890.pcd
    $(arg PointCloud_Files_Folder)pcd10713829.pcd
    $(arg PointCloud_Files_Folder)pcd10318372.pcd
    $(arg PointCloud_Files_Folder)pcd10438413.pcd
    $(arg PointCloud_Files_Folder)pcd10553569.pcd
    $(arg PointCloud_Files_Folder)pcd10718989.pcd
    $(arg PointCloud_Files_Folder)pcd10323034.pcd
    $(arg PointCloud_Files_Folder)pcd10443084.pcd
    $(arg PointCloud_Files_Folder)pcd10558250.pcd
    $(arg PointCloud_Files_Folder)pcd10723992.pcd
    $(arg PointCloud_Files_Folder)pcd10327646.pcd
    $(arg PointCloud_Files_Folder)pcd10447932.pcd
    $(arg PointCloud_Files_Folder)pcd1056494.pcd
    $(arg PointCloud_Files_Folder)pcd10728698.pcd
    $(arg PointCloud_Files_Folder)pcd10332293.pcd
    $(arg PointCloud_Files_Folder)pcd10452598.pcd
    $(arg PointCloud_Files_Folder)pcd10612315.pcd
    $(arg PointCloud_Files_Folder)pcd10733346.pcd
    $(arg PointCloud_Files_Folder)pcd10336912.pcd
    $(arg PointCloud_Files_Folder)pcd1045477.pcd
    $(arg PointCloud_Files_Folder)pcd10616924.pcd
    $(arg PointCloud_Files_Folder)pcd1074373.pcd
    $(arg PointCloud_Files_Folder)pcd1033803.pcd
    $(arg PointCloud_Files_Folder)pcd10457238.pcd
    $(arg PointCloud_Files_Folder)pcd10621662.pcd
    $(arg PointCloud_Files_Folder)pcd1079127.pcd
    $(arg PointCloud_Files_Folder)pcd10341596.pcd
    $(arg PointCloud_Files_Folder)pcd104865.pcd
    $(arg PointCloud_Files_Folder)pcd10626658.pcd
"/>

    -->

    <!-- Vector Map -->
    <node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="
    $(arg VectorMap_Files_Folder)dtlane.csv
    $(arg VectorMap_Files_Folder)lane.csv
    $(arg VectorMap_Files_Folder)line.csv
    $(arg VectorMap_Files_Folder)node.csv
    $(arg VectorMap_Files_Folder)point.csv
    $(arg VectorMap_Files_Folder)roadedge.csv
    $(arg VectorMap_Files_Folder)whiteline.csv
    $(arg VectorMap_Files_Folder)vector.csv
    $(arg VectorMap_Files_Folder)signaldata.csv
    $(arg VectorMap_Files_Folder)stopline.csv
"/>

</launch>
