<!-- -->
<launch>
    <!--launch vector & point cloud maps -->
    <include file="$(find adeye)/launch/my_map.launch">
    
    <!--launch node to display vector map center lines  -->
    <node pkg="way_planner" type="way_planner" name="way_planner"/>

    <!--launch node to publish demo objects-->

</launch>