<!-- -->
<launch>
    <arg name="inputTopic" default="input"/>
    <arg name="outputTopic" default="output"/>

    <node
            type="objectsFrameAdapter"
            pkg="adeye"
            name="objectsFrameAdapter"
            respawn="false"
            output="screen"
            args="$(arg inputTopic) $(arg outputTopic)"
    />
</launch>
