<!-- -->
<launch>
    <rosparam>
        use_sim_time: true
    </rosparam>
    <arg name="Vector_Map_Folder" value="$(find adeye)/../../../../../AD-EYE/Experiments/W01_Base_Map/Vector_Map_Files/"/>
    <arg name="Pex_Folder" value="$(find adeye)/../../../../../AD-EYE/Experiments/W01_Base_Map/Simulation/"/>
    <arg name="area_width" value="35" />
    <arg name="area_height_front" value="50" />
    <arg name="area_height_back" value="25" />

    <node pkg="adeye" type="GridMapCreator" name="GridMapCreator" output="screen" launch-prefix="xterm -e"
        args="$(arg area_width) $(arg area_height_front) $(arg area_height_back)">
        <param name="filePoint" value="$(arg Vector_Map_Folder)point.csv"/>
        <param name="fileLane" value="$(arg Vector_Map_Folder)lane.csv"/>
        <param name="fileNode" value="$(arg Vector_Map_Folder)node.csv"/>
        <param name="fileDtlane" value="$(arg Vector_Map_Folder)dtlane.csv"/>
        <param name="filePex"
               value="$(arg Pex_Folder)W01_Base_Map.pex"/>
    </node>

    <node pkg="adeye" type="flattening" name="flattening" output="screen"
        args="$(arg area_width) $(arg area_height_front) $(arg area_height_back)"/>

    <node pkg="adeye"
          type="safetySupervisor"
          name="safetySupervisor"
          output="screen"
          launch-prefix="xterm -e"
          args="/gps_to_base_link"/>


    <node pkg="ss_trajplanner"
          type="ss_trajplanner_node"
          name="ss_trajplanner_node"
          output="screen"
          launch-prefix="xterm -e">
        <param name="trajectory_set_filename"
               value="$(find ss_trajplanner)/data/SSMP_trajectories/SSMPset_2018-1-3--11-58-48.csv"/>
        <param name="costmap_base_topic" value="/costmap_base"/>
        <remap from="/costmap_base/costmap" to="/SafetyPlannerOccmap"/>
        <remap from="/costmap_base/footprint" to="/SSMP_ego_footprint"/>
    </node>
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find adeye)/rviz/SSMP_grid_map.rviz" />-->
</launch>
