<launch>
    <rosparam>
        use_sim_time: true
    </rosparam>
    <arg name="Vector_Map_Folder" value="$(find adeye)/../../../../../AD-EYE/Data/Maps/Base_Map/Vector_Map_Files/"/>
    <arg name="Pex_Folder" value="$(find adeye)/../../../../../AD-EYE/PreScan_Experiments/Base_Map/Simulation/"/>

    <node pkg="adeye" type="GridMapCreator" name="GridMapCreator" output="screen">
        <param name="filePoint" value="$(arg Vector_Map_Folder)point.csv"/>
        <param name="fileLane" value="$(arg Vector_Map_Folder)lane.csv"/>
        <param name="fileNode" value="$(arg Vector_Map_Folder)node.csv"/>
        <param name="fileDtlane" value="$(arg Vector_Map_Folder)dtlane.csv"/>
        <param name="filePex"
               value="$(arg Pex_Folder)Base_Map_S.pex"/>
    </node>

    <node pkg="adeye" type="flattening" name="flattening" output="screen"/>


    <node pkg="ss_trajplanner"
          type="ss_trajplanner_node"
          name="ss_trajplanner_node"
          output="screen"
          launch-prefix="xterm -e">
        <param name="trajectory_set_filename"
               value="$(find ss_trajplanner)/data/SSMP_trajectories/SSMPset_2018-1-3--11-58-48.csv"/>
        <param name="costmap_base_topic" value="/costmap_base"/>
        <remap from="/costmap_base/costmap" to="/SafetyPlannerOccmap"/>
        <remap from="/costmap_base/footprint" to="/SSMP_ego_footprint"/>
    </node>
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find adeye)/rviz/SSMP_grid_map.rviz" />-->
</launch>
