<launch>
    <rosparam>
        use_sim_time: true
    </rosparam>
    <node
            type="tracked_objects_adapter.py"
            pkg="adeye"
            name="tracked_objects_adapter"
            respawn="false"
            output="screen"
    />
    <rosparam>
        use_sim_time: true
    </rosparam>
</launch>
