[submodule "Autoware_Private_Fork"]
	path = Autoware_Private_Fork
	url = https://github.com/AD-EYE/Autoware_Private_Fork.git
	ignore = dirty
[submodule "Pex_Data_Extraction"]
	path = Pex_Data_Extraction
	url = https://github.com/AD-EYE/Pex_Data_Extraction.git
	ignore = dirty
