[submodule "Pex_Data_Extraction"]
	path = Pex_Data_Extraction
	url = https://gits-15.sys.kth.se/AD-EYE/Pex_Data_Extraction.git
	ignore = dirty
[submodule "AD-EYE/ROS_Packages/src/Safe_Stop_Planner"]
	path = AD-EYE/ROS_Packages/src/Safe_Stop_Planner
	url = https://gits-15.sys.kth.se/AD-EYE/Safe_Stop_Planner.git
[submodule "AD-EYE/ROS_Packages/src/Old_GUI"]
	path = AD-EYE/ROS_Packages/src/Old_GUI
	url = https://gits-15.sys.kth.se/AD-EYE/Old_GUI.git
