[submodule "Pex_Data_Extraction"]
	path = Pex_Data_Extraction
	url = https://github.com/AD-EYE/Pex_Data_Extraction.git
	ignore = dirty
[submodule "AD-EYE/ROS_Packages/src/Old_GUI"]
	path = AD-EYE/ROS_Packages/src/Old_GUI
	url = https://github.com/AD-EYE/Old_GUI.git
[submodule "AD-EYE/OpenSCENARIO"]
	path = AD-EYE/OpenSCENARIO
	url = https://github.com/AD-EYE/OpenSCENARIO.git
[submodule "AD-EYE/ROS_Packages/src/Safe_Stop_Planner"]
	path = AD-EYE/ROS_Packages/src/Safe_Stop_Planner
	url = https://github.com/AD-EYE/Safe_Stop_Planner.git
[submodule "AD-EYE/ROS_Packages/src/velodyne"]
	path = AD-EYE/ROS_Packages/src/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "AD-EYE/ROS_Packages/src/ouster-ros"]
	path = AD-EYE/ROS_Packages/src/ouster-ros
	url = https://github.com/AD-EYE/ouster-ros.git
