<!-- -->
<launch>

    <!-- Set localization method: -->
    <arg name="topic_pose_stamped" default="/ground_truth_pose"/> <!-- ndt_pose | icp_pose | gnss_pose -->

    <!-- Set args defining tf_transform: base_link to velodyne-->
    <arg name="tf_x" default="/adeye/fake_localization/BaseLink_to_velodyne/tf_x"/>
    <arg name="tf_y" default="/adeye/fake_localization/BaseLink_to_velodyne/tf_y"/>
    <arg name="tf_z" default="/adeye/fake_localization/BaseLink_to_velodyne/tf_z"/>
    <arg name="tf_yaw" default="/adeye/fake_localization/BaseLink_to_velodyne/tf1_yaw"/>
    <arg name="tf_pitch" default="/adeye/fake_localization/BaseLink_to_velodyne/tf_pitch"/>
    <arg name="tf_roll" default="/adeye/fake_localization/BaseLink_to_velodyne/tf_roll"/>

    <!-- tf_transform: base_link to velodyne -->
    <include file="$(find runtime_manager)/launch_files/setup_tf.launch">
        <arg name="x" value="$(arg tf_x)"/>
        <arg name="y" value="$(arg tf_y)"/>
        <arg name="z" value="$(arg tf_z)"/>
        <arg name="yaw" value="$(arg tf_yaw)"/>
        <arg name="pitch" value="$(arg tf_pitch)"/>
        <arg name="roll" value="$(arg tf_roll)"/>
        <arg name="frame_id" value="base_link"/>
        <arg name="child_frame_id" value="/velodyne"/>
        <arg name="period_in_ms" value="10"/>
    </include>

    <!-- Vehicle Model -->
    <include file="$(find vehicle_description)/launch/vehicle_model.launch">
        <arg name="model_path" value="/adeye/fake_localization/vehicle_model/model_path"/>
    </include>

    <!-- Points Downsampler -->
    <node pkg="rostopic" type="rostopic" name="config_voxel_grid_filter_rostopic"
          args="pub -l /config/voxel_grid_filter autoware_config_msgs/ConfigVoxelGridFilter
        '{voxel_leaf_size: /adeye/fake_localization/voxel_grid_filter/voxel_leaf_size , measurement_range: /adeye/fake_localization/voxel_grid_filter/measurement_range}' "
    />
    <include file="$(find points_downsampler)/launch/points_downsample.launch"/>

    <!-- Fake Localizer, publishes the transform from map to base link base on gnss data -->
    <node type="fake_localizer.py"
        pkg="adeye"
        name="ground_truth_localizer"
        args="ground_truth_localizer /map /base_link"/>

    <!-- Pose Connect -->
    <node pkg="topic_tools" type="relay" name="pose_relay" output="log" args="$(arg topic_pose_stamped) /current_pose"/>

</launch>
