absl-py @ file:///opt/conda/conda-bld/absl-py_1639803114343/work
actionlib==1.11.16
aiohttp @ file:///tmp/build/80754af9/aiohttp_1646806366512/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
angles==1.9.12
anyio @ file:///tmp/build/80754af9/anyio_1644481698350/work/dist
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569684262/work
astor==0.8.1
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
base_local_planner==1.14.9
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.4
bondpy==1.8.3
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1648028895253/work
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
camera_calibration==1.12.23
camera_calibration_parsers==1.11.13
catkin==0.7.29
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///tmp/build/80754af9/click_1646038465422/work
controller_manager==0.13.5
controller_manager_msgs==0.13.5
cryptography @ file:///tmp/build/80754af9/cryptography_1633520369403/work
cv_bridge==1.12.8
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diagnostic_analysis==1.9.3
diagnostic_common_diagnostics==1.9.3
diagnostic_updater==1.9.3
docopt==0.6.2
dynamic_reconfigure==1.5.50
entrypoints==0.3
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
flatbuffers @ file:///tmp/build/80754af9/python-flatbuffers_1614345733764/work
fonttools==4.25.0
frozenlist @ file:///tmp/build/80754af9/frozenlist_1637767111923/work
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
gazebo_plugins==2.5.21
gazebo_ros==2.5.21
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.14
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib==0.4.1
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
gps_common==0.3.0
grpcio @ file:///tmp/build/80754af9/grpcio_1637590823556/work
h5py @ file:///tmp/build/80754af9/h5py_1637138879700/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
image_geometry==1.12.8
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562408398/work
imutils @ file:///home/conda/feedstock_root/build_artifacts/imutils_1639012382654/work
interactive-markers==1.11.5
ipykernel @ file:///tmp/build/80754af9/ipykernel_1646982648551/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1648799197050/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
joint_state_publisher==1.12.15
jsk-recognition-utils==1.2.15
jsk_rviz_plugins==2.1.7
jsk_topic_tools==2.2.11
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1646994441805/work
jupyter-server @ file:///opt/conda/conda-bld/jupyter_server_1644494914632/work
jupyterlab @ file:///opt/conda/conda-bld/jupyterlab_1647445413472/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1644500396812/work
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1638569886207/work
laser_geometry==1.6.7
Markdown @ file:///tmp/build/80754af9/markdown_1614363528767/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528148836/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1647441664166/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
message_filters==1.12.17
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
multidict @ file:///opt/conda/conda-bld/multidict_1640703752579/work
munkres==1.1.4
nbclassic @ file:///opt/conda/conda-bld/nbclassic_1644943264176/work
nbclient @ file:///tmp/build/80754af9/nbclient_1645431659072/work
nbconvert @ file:///opt/conda/conda-bld/nbconvert_1641309195684/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
nmea_navsat_driver==0.5.1
notebook @ file:///tmp/build/80754af9/notebook_1645002536250/work
numexpr @ file:///tmp/build/80754af9/numexpr_1640704208950/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
oauthlib @ file:///opt/conda/conda-bld/oauthlib_1644332107998/work
opencv-python==4.5.5.64
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.1
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pipreqs==0.4.11
pluginlib==1.11.3
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.14.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT @ file:///tmp/build/80754af9/pyjwt_1619651636675/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python_qt_binding==0.3.8
pytz==2021.3
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638436375034/work
qt_dotgraph==0.3.18
qt_gui==0.3.18
qt_gui_cpp==0.3.18
qt_gui_py_common==0.3.18
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.0
resource_retriever==1.12.6
rosapi==0.11.13
rosbag==1.12.17
rosboost_cfg==1.14.6
rosbridge_library==0.11.13
rosbridge_server==0.11.13
rosclean==1.14.6
roscreate==1.14.6
rosgraph==1.12.17
roslaunch==1.12.17
roslib==1.14.6
roslint==0.11.0
roslz4==1.12.17
rosmake==1.14.6
rosmaster==1.12.17
rosmsg==1.12.17
rosnode==1.12.17
rosparam==1.12.17
rospy==1.12.17
rosservice==1.12.17
rostest==1.12.17
rostopic==1.12.17
rosunit==1.14.6
roswtf==1.12.17
rqt-reconfigure==0.5.3
rqt-robot-monitor==0.5.13
rqt_action==0.4.9
rqt_bag==0.5.0
rqt_bag_plugins==0.5.0
rqt_console==0.4.9
rqt_dep==0.4.9
rqt_graph==0.4.11
rqt_gui==0.5.0
rqt_gui_py==0.5.0
rqt_image_view==0.4.16
rqt_launch==0.4.8
rqt_logger_level==0.4.8
rqt_moveit==0.5.7
rqt_msg==0.4.8
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.8
rqt_publisher==0.4.8
rqt_py_common==0.5.0
rqt_py_console==0.4.8
rqt_robot_dashboard==0.5.7
rqt_robot_steering==0.5.9
rqt_runtime_monitor==0.5.7
rqt_rviz==0.5.10
rqt_service_caller==0.4.8
rqt_shell==0.4.9
rqt_srv==0.4.8
rqt_tf_tree==0.6.0
rqt_top==0.4.8
rqt_topic==0.4.11
rqt_web==0.4.8
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
rviz==1.12.17
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642617107864/work
scipy @ file:///tmp/build/80754af9/scipy_1641555001653/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sensor_msgs==1.12.7
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
smach==2.0.1
smach_ros==2.0.1
smclib==1.8.3
sniffio @ file:///tmp/build/80754af9/sniffio_1614030475067/work
sound-play==0.3.11
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
tensorboard @ file:///tmp/build/80754af9/tensorboard_1633093581375/work/tensorboard-2.6.0-py3-none-any.whl
tensorboard-data-server @ file:///tmp/build/80754af9/tensorboard-data-server_1633035064162/work/tensorboard_data_server-0.6.0-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit==1.6.0
tensorflow @ file:///home/builder/adipietro/tf/tensorflow-base_1630513991048/work/tensorflow_pkg/tensorflow-2.6.0-cp38-cp38-linux_x86_64.whl
tensorflow-estimator @ file:///home/builder/adipietro/tf/tensorflow-estimator_1630508970172/work/tensorflow_estimator-2.6.0-py2.py3-none-any.whl
termcolor==1.1.0
terminado @ file:///tmp/build/80754af9/terminado_1644322581811/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
tf==1.11.9
tf2_geometry_msgs==0.5.20
tf2_kdl==0.5.20
tf2_py==0.5.20
tf2_ros==0.5.20
tf_conversions==1.11.9
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
topic_tools==1.12.17
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urdfdom_py==0.3.3
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614804261064/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wrapt @ file:///tmp/build/80754af9/wrapt_1638433239696/work
xacro==1.11.3
yarg==0.1.9
yarl @ file:///tmp/build/80754af9/yarl_1606939922162/work
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
