body
{
  width: 100%;
  height:100%;
}

/* properties for the card displays */
.box
{
  border: 3px solid #666;
  background-color:#48575e;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
  margin:5px;
  color: rgb(255, 253, 253);
  font-weight: bold;
  width: 100%;
  
}


/* properties for the header  */
.header
{
  background-color:#EBEBEB;
  border-width: 10px;
  border-radius: 3px;
  text-align: center;
  margin: 8px;
  padding: 3px;
  color:#699b2c;
  font-weight: bold;
}

/* properties for the velocity and acceleration card  */
.gauge_velocity,.gauge_acceleration
{
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
}

.gauge_velocity_body,.gauge_acceleration_body
{
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge_velocity_fill,.gauge_acceleration_fill 
{
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #699b2c;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge_velocity_cover,.gauge_acceleration_cover
{
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

/* properties for the buttons */
button
{
  border-radius: 15px;
  color:white;
  margin: 5px;
  height: 50px;
}

/* properties for the + button  */
#generic_button
{
  background-color:#699b2c;
  width: 60px;
  height:60px;
  border-radius: 100%;
  border:none;
  font-size: xx-large; 
  float: left;
} 

/* properties for the manager state & fault injection cards */
.manager
{
  background: gray;
  color:white;
  border-radius: 15px;
  border:none;
  width: 100%;
} 

/* properties for text box displaying the latest information in each card*/
#latest_state, #features_array, #fault_injection_values
{
  width: 100%;
  background-color: white;
  height: 50px;
}

/* properties for the fault injection card  */
.fault_injection
{
  background: gray;
  color:white;
  border-radius: 15px;
  width: 70%;
  border: none;
}
 
/* properties for the control channel & features card  */
.channel
{
  background: gray;
  color:white;
  border-radius: 15px;
  border: none;
  width: 50%;
}

.features
{
  background: gray;
  color:white;
  border-radius: 15px;
  border: none;
  width :100%;
}

/* properties for input in the fault injection card */
.state
{
  height: 50px;
  width: 30%;
  border: 2px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  background-color: white;
}

/* properties for the form of fault injection  */
form
{
  background-color: gray;
  border-radius: 15px;
  border: 2px;
  padding: 10px;
  margin : 5px;
}

/* properties for the select tag in the form for fault injection */
select
{
  background-color: whitesmoke; 
  color:black;
  width: 90px;
  padding: 5px;
  border: 8px;
}

/* properties for the input box in th form for fault injection card  */
input
{
  width: 30%;
  padding: 5px;
  margin: 5px;
  border: 2px;
  border-radius: 10px;
}

/* properties for the label in the form for fault injection  */
label
{
  width:63%;
}

/* properties for the select tag in ros topics list card */
#select_topic
{
  background-color: #699b2c; 
  color:white;
  width: 95%;
  padding: 5px;
  border: 8px;
  border-style: none;
  border-radius: 15px;
}

/* properties for the textarea tag in ros topics list card */
#topic_data_textbox
{
  width: 95%;
  border: 8px;
  border-radius: 15px;
}
