body
{
  width: 100%;
  height:100%;
}

.box 
{
  border: 3px solid #666;
  background-color:#48575e;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
  height: auto;
  width: auto;
  margin:5px;
  color: rgb(255, 253, 253);
  font-weight: bold;
}

.card
{
  
  background-color:#EBEBEB;
  border-width: 10px;
  border-radius: 3px;
  text-align: center;
  margin: 8px;
  padding: 3px;
  color:#699b2c;
  font-weight: bold;
}

.canvas
{
  height: auto;
  width: 200px;
}

.gauge_velocity,.gauge_acceleration
{
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
}

.gauge_velocity_body,.gauge_acceleration_body
{
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge_velocity_fill,.gauge_acceleration_fill 
{
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #699b2c;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge_velocity_cover,.gauge_acceleration_cover
{
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

.ratingBox
 {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
}

button
{
  border-radius: 15px;
  color:white;
  margin: 5px;
  height:50px;
  width:300px;
}

 .manager,.fault_injection
{
  background: gray;
  color:white;
  border-radius: 15px;
  width:200px;
  border:none;
} 

.channel,.features
{
  background: gray;
  color:white;
  border-radius: 15px;
  border:none;
}

select
{
  background-color: #699b2c; 
  color:white;
  width: 90px;
  padding: 5px;
  border: 8px;
}

form
{
  background-color: gray;
  border-radius: 15px;
  border: 2px;
}

input
{
  width: 80%;
  padding: 5px;
  margin:10px;
  border: 2px;
  border-radius: 15px;

}




/* ----------------------------------------------------------------------------------------------------------- */

 /* .bcontainer
{
  display: grid | inline-grid; 
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; 
  
} */

/* .box.over 
{
  border: 3px dotted #666;
} */

/* .gauge_a 
{
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
}

.gauge_a__body 
{
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge_a__fill 
{
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #009578;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge_a__cover 
{
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}*/
/* .ratingBoxs
{
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
 */
