<!-- -->
<launch>

  <!-- world_to_map -->
  <node pkg="tf"  type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 10" />

  <!-- map_to_mobility -->
  <node pkg="tf"  type="static_transform_publisher" name="map_to_mobility" args="0 0 0 0 0 0 /map /mobility 10" />

  <!-- Point Cloud -->
  <node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151353839.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151355738.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151357541.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151359355.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151410099.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15141154.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151411895.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151413666.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151415460.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151417258.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151419068.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151420887.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151422741.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151424566.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151426355.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151428160.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15142952.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151429926.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151431702.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151433481.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151435259.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151437031.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151438807.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151440593.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151442385.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151444170.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151445959.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15144747.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151447748.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151449528.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151451313.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151453095.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151454877.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151456655.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151458438.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15146528.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15148321.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151510872.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151512640.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151514422.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151516195.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151517975.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151519732.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15151984.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd1515203.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151521497.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151523269.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151525034.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151526819.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151528587.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151530371.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151532137.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151533903.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151535675.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151537451.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15153752.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151539223.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd151540987.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15155519.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15157287.pcd
    $(env HOME)/adeye-data/map/pointcloud_map/pcd15159110.pcd
"/>

-->

  <!-- Vector Map -->
  <node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="
    $(env HOME)/adeye-data/map/vector_map/dtlane.csv
    $(env HOME)/adeye-data/map/vector_map/lane.csv
    $(env HOME)/adeye-data/map/vector_map/line.csv
    $(env HOME)/adeye-data/map/vector_map/node.csv
    $(env HOME)/adeye-data/map/vector_map/point.csv
    $(env HOME)/adeye-data/map/vector_map/roadedge.csv
    $(env HOME)/adeye-data/map/vector_map/whiteline.csv


"/>

</launch>

<!--$(find Home)/adeye-data/map/vector_map/line.csv
$(find Home)/adeye-data/map/vector_map/roadedge.csv
$(find Home)/adeye-data/map/vector_map/whiteline.csv-->
